#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# -----------------------------------------------------------------------
# Example .env-local file for running multiple Superset instances
# Copy this file to .env-local and customize for your setup
# -----------------------------------------------------------------------

# Unique project name prevents container/volume conflicts between clones
# Each clone should have a different name (e.g., superset-pr123, superset-feature-x)
COMPOSE_PROJECT_NAME=superset-dev2

# Host port offsets for running multiple instances simultaneously.
# DATABASE_PORT and REDIS_PORT are container-internal service ports; keep those
# at 5432 and 6379 unless the service containers are also changed.
# Consecutive host port example:
NGINX_PORT=8090
SUPERSET_PORT=8091
NODE_PORT=8092
WEBSOCKET_PORT=8093
CYPRESS_PORT=8094
DATABASE_HOST_PORT=8095
REDIS_HOST_PORT=8096

# For verbose logging during development:
# SUPERSET_LOG_LEVEL=debug
